@model MobilePhoneStoreEcommerce.Core.ViewModels.CustomerViewModel
@using MobilePhoneStoreEcommerce.Persistence.Consts
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/css/dataTables.bootstrap.min.css">
</head>
<body>
    <header>
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    @Html.ActionLink("Home", "Index", "HomeScreen", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <div class="nav navbar-nav navbar-right">
                        <img src="~/Content/resources/images/adminIcon.png" style="height: 50px;" />
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Log out", "Logout", "Account", routeValues: new { sessionName = SessionNames.CustomerID }, htmlAttributes: new { id = "logoutLink" })</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <table id="table-orders" class="table table-bordered">
            <thead></thead>
            <tbody></tbody>
        </table>

    </div>

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootbox.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>

    <script>
        $(document).ready(function () {

            var customerID = @Model.customerID;

            $.ajax({
                url: "/api/Orders/GetList?customerID=" + customerID,
                method: "Get",
                success: function (response) {
                    $.ajax({
                        url: "/api/Orders/GetList?customerID=" + customerID + "&orderTime=" + response[0].orderTime,
                        method: "Get",
                        success: function (response) {
                        },
                    })
                },

            });

            var table = $("#table-orders").DataTable({
                ajax: {
                    url: "/api/Orders/GetList?customerID=" + customerID,
                    dataSrc: "",
                },
                columns: [
                    {
                        title: "Order ID",
                        data: "orderID",
                        width: "10%",
                        render: function (data) {
                            return data;
                        },
                    },
                    {
                        title: "Order's Time",
                        data: "orderTime",
                        render: function (data) {
                            return data;
                        }
                    },
                    {
                        title: "Status",
                        data: "status",
                        render: function (data) {
                            if (data == @OrderStates.Pending)
                                return "<span>Pending</span>";
                            else if (data == @OrderStates.Confirmed)
                                return "<span>waiting for delivery</span>";
                            else
                                return "<span>the order was canceled</span>"
                        }
                    },
                    {
                        title: "Total Cost",
                        data: "totalOrderCost",
                        render: function (data) {
                            return "<span>" + data + " VND</span>";
                        },
                    },
                    {
                        title: "See details",
                        data: "orderID",
                        render: function (data) {
                            return "<button class='btn-link' data-orderID=" + data + ">Details</button>";
                        },
                    },
                    {
                        title: "Cancel order",
                        data: "orderID",
                        render: function (data, type, order) {
                            if (order.status == @OrderStates.Pending)
                                return "<button class='btn btn-danger jsCancel' data-orderID=" + order.orderID + ">Cancel</button>";

                            return "<button disabled class='btn btn-primary' data-orderID=" + data + ">Canceled</button>";
                        }
                    },
                    {
                        title: "Delete",
                        data: "orderID",
                        render: function (data, type, order) {
                            if (order.status == @OrderStates.Canceled)
                                return "<button class='btn btn-danger jsDelete' data-orderID=" + order.orderID + ">Delete</button>";

                            if (order.status == @OrderStates.Confirmed)
                                return "<span>Confirmed</span>";

                            return "<span>Pending</span>";
                        }
                    }

                ],
                searching: false,
                info: false,
                ordering: false,
            });

            table.on("click", ".jsCancel", function () {
                var buttonCancel = $(this);

                $.ajax({
                    url: "/api/Orders/CancelOrder?orderID=" + buttonCancel.attr("data-orderID"),
                    method: "get",
                    success: function () {
                        var indexes = table.rows().eq(0).filter(function (rowIdx) {
                            return table.cell(rowIdx, 0).data() == buttonCancel.attr("data-orderID");
                        });
                        var newData = table.row(indexes[0]).data();
                        newData.status = @OrderStates.Canceled;
                        table.row(indexes[0]).data(newData).draw();
                    },
                });
            });

            table.on("click", ".jsDelete", function () {
                var buttonDelete = $(this);

                $.ajax({
                    url: "/api/Orders/DeleteOrder?orderID=" + buttonDelete.attr("data-orderID"),
                    method: "get",
                    success: function () {
                        table.row(buttonDelete.parents("tr")).remove().draw();
                    },
                });
            })
        });



    </script>
</body>
</html>
